html {}

body {
    margin: 0 auto;
    max-width: 2450px;
    font-family: Akrobat;
    font-size: 30px;
}

h1 {
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    font-family: "PT Sans";
    font-size: 60px;
    font-weight: bold;
}

#header {
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
}

.top {
    height: 135px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 110px 0 219px;
    padding: 0 110px 0 0;
    /*  border-bottom: 25px solid rgba(255, 255, 255, 0.72);*/
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 2450px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.65);
}

.tel a {
    color: #d7d4d2;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

.mm {
    display: none;
}

.menu {
    /*    background-image: url(../img/menu.png);
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 772px;
}

.menu.active {
    padding-top: 30px;
    position: fixed;
    top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    left: 0;
    bottom: 0;
}

.menu.active a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 30px;
}

.menu.active a.active {
    border-bottom: none;
}

.menu a {
    color: #d7d4d2;
    font-weight: bold;
    text-decoration: none;
}

.menu a.active, .menu a:hover {
    border-bottom: 3px solid #ff0000;
}

.tm {}

.title {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1000px;
}

.aftertop {
    font-family: Akrobat;
    text-transform: uppercase;
    color: #5d5d5d;
    font-weight: 400;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    left: 0;
}

.aftertop .order {
    color: #ba3434;
    font-weight: 700;
    text-decoration: underline;
}

.aftertop .second_block {
    color: #010101;
    font-weight: 400;
}

.social {
    position: fixed;
    bottom: 100px;
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 29px;
    height: 140px;
    z-index: 20;
}

.social a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
}

.inst {
    background-image: url(../img/i.png);
}

.fb {
    background-image: url(../img/f.png);
}

.yt {
    background-image: url(../img/y.png);
}

.scrollToTop {
    background-image: url(../img/top.png);
    -webkit-filter: brightness(.7);
    filter: brightness(.7);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 110px;
    bottom: 138px;
    width: 48px;
    height: 42px;
}

#about {
    background-image: url(../img/bg-about.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    background-color: #ffffff;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 40px;
    margin: 118px 0 88px;
    border-bottom: 4px solid #aa232f;
    display: inline-block;
    text-align: center;
}

#about p {
    width: 500px;
    font-family: "Myriad Pro";
    font-size: 28px;
    line-height: 40px;
    margin: 0 0 0 250px;
    padding-bottom: 280px;
    text-align: left;
}

#why {
    background-color: #282b2b;
    color: #ffffff;
    text-align: center;
}

#why h2 {
    text-align: center;
}

.why_blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 120px;
}

.why_blocks .block {
    background: #fff;
    color: #000;
    width: 300px;
    text-align: left;
}

.why_blocks .block p {
    padding: 0 30px;
    font-size: 24px;
}

#advantage {
    text-align: center;
}

#advantage h2 {
    color: #5d5d5d;
    margin: 93px 0 70px;
    text-transform: uppercase;
}

.circles {
    width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: #999999;
    margin-bottom: 150px;
    font-size: 16px;
}

.circle {
    border-radius: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 16px;
    font-family: "PTSans", sans-serif;
    position: relative;
    padding-top: 0px;
    margin-bottom: 35px;
    width: 134px;
    height: 134px;
    border: 1px solid #c4c4c4;
}

.circle::before {
    content: '';
    border-radius: 100%;
    width: 142px;
    height: 142px;
    opacity: 0.5;
    border: 1px solid #c4c4c4;
    position: absolute;
    top: 50%;
    margin-top: -71px;
    left: 50%;
    margin-left: -71px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.circle::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 148px;
    height: 148px;
    opacity: 0.2;
    border: 1px solid #c4c4c4;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -75px;
}

.circle span {
    display: block;
    text-align: center;
    padding: 10px 0px 0px;
    margin: 7px 0px -10px;
    line-height: 1.2;
    color: #999999;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
}

.circles_element p {
    position: relative;
}

.circles_element p::before {
    width: 58px;
    height: 2px;
    background-color: #ececec;
    border-radius: 1px;
    position: absolute;
    content: '';
    left: 50%;
    margin-left: -29px;
    top: -10px;
}

#works {
    text-align: center;
    background-color: #f9f9f9;
    padding-bottom: 130px;
}

#works h2 {
    color: #5d5d5d;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 74px 0 52px;
}

.triggers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
}

.triggers a {
    font-size: 36px;
    color: #999999;
    padding-bottom: 90px;
    text-decoration: none;
}

.triggers a.active {
    color: #000000;
}

#info {
    color: #5d5d5d;
    text-transform: uppercase;
    padding-top: 160px;
}

.container {
    max-width: 1980px;
    height: 1284px;
    background-image: url("../img/pic1.jpg");
    background-position: right;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 250px 0 330px;
    position: relative;
}

.text {
    background-color: #ffffff;
    padding: 300px 180px 0 0;
    width: 1010px;
    height: 1186px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    font-size: 36px;
    font-weight: 700;
}

.text p {
    font-family: "Myriad Pro";
    font-size: 24px;
    font-weight: 400;
}

.container-rev {
    max-width: 1980px;
    height: 1284px;
    background-image: url("../img/pic2.jpg");
    background-position: left;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 180px 250px 0 170px;
    position: relative;
}

.container-rev .text {
    background-color: #ffffff;
    padding: 490px 0 0 20px;
    width: 650px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-wrapper {
    position: relative;
    height: 100%;
}

.container-rev .text-wrapper::before {
    content: "";
    width: 200px;
    height: 100%;
    position: absolute;
    left: -200px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 100%);
}

.text-after {
    position: absolute;
    right: -160px;
    bottom: 15px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.text-before {
    position: absolute;
    left: -320px;
    top: 140px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.container-rev .text-before {
    left: -80px;
    top: 150px;
}

.container-rev .text-after {
    bottom: 150px;
}

#calc {
    background-image: url("../img/bg.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #282b2b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 210px 180px 410px;
    text-align: center;
}

#calc h2 {
    margin: 109px 0 157px;
    text-align: center;
}

.calc {
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 45px;
}

.calc h3 {
    font-size: 28px;
    margin: 0;
}

.calc ul {
    padding: 0;
    margin: 0;
}

.calc li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 890px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.desc {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.calc a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

.value {
    padding-left: 15px;
}

.calc-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-bottom: 25px;
    border-bottom: 3px solid #ffffff;
}

.total-value {
    font-size: 48px;
    padding-right: 60px;
}

.total-value::after {
    content: "";
    width: 1px;
    height: 46px;
    background-image: url("../img/s.png");
}

.total a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding-left: 40px;
}

#contacts {
    color: #000;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#contacts h3 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 80px 0;
}

.inv {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.contacts_form {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 100px 0 0 320px;
}

.send {
    color: #000000;
    font-size: 36px;
    text-transform: uppercase;
    padding-top: 39px;
}

.contacts_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 370px;
}

.contacts_form input {
    color: #9d9d9d;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0 25px;
    border-left: none;
    border-right: none;
    border-top: 4px solid;
    border-bottom: none;
}

.contacts_form form .last {
    border-bottom: 4px solid;
}

.work {
    margin: 260px 0 170px;
}

.map {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.map iframe {
    width: 100%;
    height: 100%;
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

.slick-prev {
    left: 55px;
    z-index: 10;
}

.slick-next {
    right: 55px;
    z-index: 10;
}

.vline {
    height: 100%;
    width: 165px;
    border-right: 3px solid #a2a2a2;
    position: fixed;
    top: 0;
}

#layer {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 100;
}

#layer.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
}

.sendme_wrapper {
    color: #fff;
}

#layer h2 {
    margin: 0 0 120px;
    text-align: center;
}

#layer form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 700px;
}

.st {
    width: 310px;
    border-bottom: 2px solid;
}

.fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 310px;
}

#layer form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 2px solid;
    margin-bottom: 10px;
}

#layer input {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    width: 200px;
}

.fields a {
    padding: 5px 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid;
    display: inline-block;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 20px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900;
}


/*------------------------- media ---------------------------*/

@media (max-width: 2048px) {
    .text {
        padding: 300px 50px 0 0;
        width: 760px;
    }
}

.container-rev {
    max-width: 100%;
    height: 860px;
    background-size: 1000px;
}

.container-rev .text {
    padding: 190px 0 0 20px;
}

.container-rev .text-before {
    left: -180px;
}

#calc {
    padding: 0 210px 180px 220px;
}

.calc ul {
    margin-right: 40px;
}

.calc li {
    width: 800px;
}

@media (max-width: 1900px) {
    body {
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
        margin: 50px 0 80px;
    }
    h3 {
        font-size: 21px;
    }
    .top {
        height: 50px;
        padding: 0 110px;
        padding: 0 110px 0 0;
        z-index: 50;
    }
    .top .logo {
        height: 30px;
        cursor: pointer;
    }
    .menu {
        width: 555px;
    }
    #about {
        padding-right: 200px;
    }
    #about p {
        max-width: 660px;
        font-size: 17px;
        line-height: 24px;
        padding-bottom: 130px;
    }
    .vline {
        width: 90px;
    }
    #calc {
        background-size: 90px;
    }
    .social {
        width: 15px;
        height: 80px;
    }
    .social a {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        background-size: contain;
        height: 15px;
    }
    #advantage h2 {
        font-size: 32px;
    }
    #works {
        padding-bottom: 60px;
    }
    #works h2 {
        font-size: 24px;
        margin: 38px 0 25px;
    }
    .triggers {
        width: 350px;
    }
    .triggers a {
        font-size: 18px;
        padding-bottom: 48px;
    }
    .text {
        padding: 40px 80px 45px 40px;
        width: 600px;
        height: auto;
    }
    .text p {
        font-size: 14px;
    }
    .circles {
        width: 700px;
        margin-bottom: 110px;
    }
    .circle {
        width: 86px;
        height: 86px;
        font-size: 11px;
    }
    .circle::before {
        width: 92px;
        height: 92px;
        margin-top: -46px;
        margin-left: -46px;
    }
    .circle::after {
        width: 94px;
        height: 94px;
        margin-top: -48px;
        margin-left: -48px;
    }
    .circle span {
        font-size: 48px;
        padding: 2px;
    }
    .circles_element p {
        font-size: 11px;
    }
    #info {
        padding-top: 80px;
    }
    #info .container {
        background-size: 750px;
        height: 650px;
        margin: 0 100px 0 170px;
    }
    .container-rev {
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 180px 100px 0 170px;
    }
    .text-after {
        right: -50px;
    }
    .container-rev .text-wrapper::before {
        content: none;
    }
    .container-rev .text-wrapper {
        align-self: flex-end;
        max-width: 500px;
    }
    .container-rev .text {
        padding: 48px 75px 48px 60px;
        background-color: rgba(255, 255, 255, 0.8);
        width: 500px;
    }
    #calc {
        padding: 0 100px 90px 200px;
    }
    #calc h2 {
        margin: 56px 0 79px;
    }
    .calc {
        font-size: 14px;
        max-width: 1060px;
    }
    .calc h3 {
        font-size: 14px;
    }
    .calc ul {
        margin-right: 0;
    }
    .calc li {
        width: 450px;
    }
    .total-value {
        font-size: 24px;
    }
    .total {
        padding-bottom: 10px;
    }
    .calc-footer {
        max-width: 1060px;
        margin: auto;
    }
    .calc-footer img {
        height: 38px;
    }
    #contacts h3 {
        font-size: 18px;
        margin: 47px 0 20px;
    }
    #contacts p {
        font-size: 16px;
    }
    .contacts_form {
        padding-top: 60px;
        padding-left: 200px;
        width: 360px;
        margin-right: 100px;
    }
    .contacts_form img {
        height: 44px;
    }
    .contacts_form input {
        font-size: 17px;
        padding: 16px 0 16px;
    }
    .send {
        font-size: 21px;
    }
    .work {
        margin: 150px 0 100px;
    }
    .scrollToTop {
        right: 56px;
        width: 24px;
        height: 21px;
        background-size: contain;
    }
}

@media (max-width: 1279px) {
    .top {
        padding: 0 60px;
    }
    .menu {
        width: 355px;
    }
    #about {
        padding-right: 400px;
    }
    #about p {
        max-width: 400px;
        margin-left: 100px;
    }
    .calc {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    #calc {
        padding: 0 40px 40px 80px;
    }
    #calc h2 {
        margin: 56px 0 19px;
    }
    .calc h3 {
        margin-top: 20px;
    }
    .calc li {
        padding: 3px 0;
    }
    #info .container {
        margin: 0 40px 0 80px;
    }
    .text-before {
        left: -120px;
    }
    .container-rev .text-before {
        left: -110px;
    }
    .text-after {
        right: -40px;
    }
    .container-rev .text {
        padding: 18px 10px 28px 20px;
        width: 500px;
    }
    .container-rev {
        margin: 40px 40px 0 80px;
        height: auto;
        min-height: 500px;
    }
    .vline {
        width: 40px;
    }
    #calc {
        background-size: 40px;
    }
    .social {
        padding-left: 10px;
    }
    .contacts_form {
        padding-top: 30px;
        padding-left: 80px;
        margin-right: 50px;
    }
    .work {
        margin: 50px 0 30px;
    }
}

@media (max-width: 959px) {
    .vline {
        display: none;
    }
    .social {
        padding-left: 10px;
    }
    .top {
        padding: 10px;
    }
    .menu {
        width: 330px;
    }
    .scrollToTop {
        right: 20px;
    }
    h1 {
        font-size: 24px;
        line-height: 30px;
    }
    h2 {
        font-size: 24px;
        margin: 30px 0 40px;
    }
    #about {
        padding: 0;
    }
    #about p {
        max-width: 75%;
        padding: 0 0 80px;
        margin: auto;
    }
    .why_blocks {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 310px;
        padding-bottom: 40px;
    }
    .why_blocks .block {
        margin-bottom: 30px;
    }
    #calc {
        padding: 0 40px 40px 40px;
    }
    #contacts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .map {
        width: 100%;
        height: 300px;
    }
    #calc, #about {
        background-image: none;
    }
}

@media (max-width: 767px) {
    .circles {
        width: 600px;
    }
    .container-rev .text {
        width: 450px;
    }
    .aftertop {
        font-size: 13px;
    }
    #layer form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .st {
        margin-bottom: 30px;
    }
}

@media (max-width: 639px) {
    .mm {
        display: block;
        background-image: url(../img/menu.png);
        width: 41px;
        height: 41px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menu {
        display: none;
    }
    .triggers {
        width: 300px;
    }
    .triggers a {
        font-size: 14px;
    }
    .circles {
        width: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contacts_form {
        padding-left: 0;
        margin-right: 0;
        width: 250px;
    }
    .answers {
        width: 250px;
    }
    .contacts_form form {
        width: 250px;
    }
    .container-rev .text {
        width: 250px;
    }
    .container-rev {
        min-height: 300px;
        background-image: none;
    }
    .text {
        padding: 0;
        width: 280px;
        height: auto;
        margin: auto;
    }
    #info .container {
        margin: 0 10px 0 40px;
        height: auto;
        background-image: none;
    }
    .text-after {
        right: -20px;
    }
    .text-before {
        left: -80px;
    }
    .container-rev .text-before {
        left: -70px;
    }
    .container-rev {
        margin: 40px 10px 0 40px;
    }
    .text-wrapper {
        margin: auto;
    }
    .container-rev .text {
        max-width: 280px;
        padding: 0;
    }
    #about p {
        padding: 0 40px 80px;
    }
    .calc li {
        width: auto;
    }
    .slick-prev {
        left: 5px;
    }
    .slick-next {
        right: 5px;
    }
    .calc-footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .total {
        margin-top: 50px;
    }
}
